<!DOCTYPE html>
<html lang="ja-jp">

<head>
  <meta charset="utf-8">
  <title>
  {{ config.title }}
  </title>
  <link href="{{ get_url(path='/style.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:200,400,600,800&display=swap&subset=japanese" rel="stylesheet">
</head>

<body>
  <div id="container">
    <header class="header">
      <a href="{{ get_url(path='/') }}">{{ config.title }}</a>
    </header>
    <nav class="navbar">
      <ul class="nav_wrapper">
        <li class="nav_item"><a href="{{ get_url(path='/') }}">Home</a></li>
        <li class="nav_item"><a href="{{ get_url(path='@/about.md') }}">About</a></li>
        <li class="nav_item"><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
        <li class="nav_item"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <section class="section">
      <main>
      {% block content %} {% endblock %}
      </main>
    </section>
    <footer class="footer">
      <p>© {{ config.author }}, 2025</p>
    </footer>
  </div>
</body>

</html>
