<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ page.title | safe }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/theme/white.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
        {% for slide in page.content | split(pat="<hr />") %}
          <section>
            {{ slide | safe }}
          </section>
        {% endfor %}
			</div>
		</div>

    <script src="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.js"></script>
    <script>
      Reveal.initialize();
		</script>
	</body>
</html>
